$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.map-background {
    left: 0;
    right: 0;
}

/* Home page view */
.home-page{
    .map-background {
        bottom: 0;
        position: absolute;
        top: 0;
    }
}

/* Search page view */
.navbar{
    .container{
        margin-left: 0;
        padding-left: 10px;
        padding-top: 10px;
    }
}

.filters{
    background-color: #f5f5f5;
    border: 1px solid #efefef;
    padding: 10px;

    .bs-docs-sidebar.places-container {
      max-height: 490px;
      overflow-y: scroll;
    }
}

.results-section{
    .map-background {
        height: 524px;
        margin-top: 20px;
    }
}

/* .modal-backdrop fix */
.modal-backdrop {
    bottom: 0;
    background-color: #fff;
}

/* utils */
.m-bottom {
  margin-bottom: 10px;
}

.validation-feedback {
  padding: 10px;
}

