$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Home page view */

.map-background {
    background-image: url('../images/google_maps.jpg');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}